body{
    text-align: center;
    font-family:"Abril Fatface", sans-serif;  

}

#radioButtons{
    display: inline-block;
    text-align: left;
    font-size: 1.2em;
}

#content{
    width: 50%;
    display: inline-block;  
    margin-top: 12em;  
    position: relative;
    color:  rgba(0, 0, 0, .85);
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.5);
}

#backgroundVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

#minutes{
    width: 5em;
    height: 2em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5em;
    text-align: center;
}

#submit{
    width: 10em;
    height: 2em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5em;
    margin: 1.5em;
    text-align: center;
    background-color: rgba(0,0,0,.95);
    color: white;
    font-size: 1.3em;
}

#submit:hover{
    background-color: rgb(0, 97, 136);
    color:white;
    border: 1px solid rgba(0, 97, 136, 0.3);
}