body{
    text-align: center;
}

#content{
    display: inline-block;
    padding: 2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
h1{
    margin: 2em;
    font-family:"Abril Fatface", sans-serif;  
}